apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: django-backend
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.18.0 (06a2e56)
  labels:
    io.kompose.service: web
  name: web
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: web
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        io.kompose.service: web
    spec:
      containers:
      - name: web
        args:
        - python
        - manage.py
        - runserver
        - "0.0.0.0:8000"
        env:
        - name: DB_DATABASE
          valueFrom:
            configMapKeyRef:
              key: DB_DATABASE
              name: web-env
        - name: DB_ENGINE
          valueFrom:
            configMapKeyRef:
              key: DB_ENGINE
              name: web-env
        - name: DB_HOST
          valueFrom:
            configMapKeyRef:
              key: DB_HOST
              name: web-env
        - name: DB_PASSWORD
          valueFrom:
            configMapKeyRef:
              key: DB_PASSWORD
              name: web-env
        - name: DB_PORT
          valueFrom:
            configMapKeyRef:
              key: DB_PORT
              name: web-env
        - name: DB_USER
          valueFrom:
            configMapKeyRef:
              key: DB_USER
              name: web-env
        - name: DEBUG
          valueFrom:
            configMapKeyRef:
              key: DEBUG
              name: web-env
        - name: DJANGO_ALLOWED_HOSTS
          valueFrom:
            configMapKeyRef:
              key: DJANGO_ALLOWED_HOSTS
              name: web-env
        - name: SECRET_KEY
          valueFrom:
            configMapKeyRef:
              key: SECRET_KEY
              name: web-env
        image: restaubot_web:latest
        ports:
        - containerPort: 8000
        resources:
          requests:
            memory: "128Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        volumeMounts:
        - mountPath: /usr/src/app
          name: web-claim0
        workingDir: /usr/src/app
      restartPolicy: Always
      volumes:
      - name: web-claim0
        persistentVolumeClaim:
          claimName: web-claim0
status: {}
